/* ------------------------------slider----------------------------------------- */
.sliderbig {
    margin: -20px 0px 50px 0px;
	position: relative;
	z-index: 1;
}
@media (max-width:992px){
	.sliderbig {
		margin: -80px 0px 0px 0px;
	}
}
@media (max-width:767px){
	.sliderbig  {
		margin: -70px 0px 0px 0px;
	}
}
@media (max-width:320px){
	.slider  {
		margin: -50px 0px 0px 0px;
	}
}


.sliderbig__item img {
	width: 100%;
	height: 100%;
	aspect-ratio: 1240 / 210;
	object-fit: contain;
}


/* -------------------------------------------------------------------------- */
/* Ограничивающая оболочка */
.slick-list { /* что бы не выглядывал край соседней фотографии СБОКУ */
    overflow: hidden;
}
/* --------------------------------------------------------------------------- */
 
/* Лента слайдов */ /* что бы все фото выстроились в РЯД */
.slick-track{
    display: flex;
} /* 1). уже работает СЛАЙДЕР, можно листать картинки */
/* ---------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------- */
/* Стилизуем кнопки - точки */
/* Точки (булиты) */
.sliderbig .slick-dots{		/* здесь они отключены */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sliderbig .slick-dots li{ /* растояние между кнопками-булитами */
    list-style: none;
    margin: 0px 10px;
}
.sliderbig .slick-dots button{
    font-size: 0;
    width: 15px; /* размер кнопки */
    height: 15px; /* размер кнопки */
    background-color: rgb(7, 238, 222);
    border-radius: 50%; /* круглые кнопки */
}
.sliderbig .slick-dots li.slick-active button { /* делаем активную кнопку прозрачной */
    background-color: transparent;
    border: 2px solid #090909;
}

/* Здесь мы стилизуем для -КОНКРЕТНОГО СЛАДЙА- кнопки */

/* Стрелка */  

/* Стрелка ВЛЕВО*/ 

/* Стрелка ВПРАВО*/ 

/* --------------------------------------------------------------------------- */
.slider-item {
    text-align: center;/* поставили ПО ЦЕНТРУ картинки */
}
/* тогда здесь пишем 1 фото будет не прозрачным */ /* и в js пишем: centerMode:true
.sliderbig__item.slick-center {
}*/

/* ==============================================sliderFON================================================= */

