@use "sass:math";

// Підключення шрифтів
@import "_fonts.scss";

// Скидання стилів
@import "_reset.scss";

// Функції
@import "_function.scss";


// Компоненти, сторінки
@import "header.css";

// Компоненти, сторінки
@import "_common.scss";

// Компоненти, сторінки
@import "_animaton.scss";


// Компоненти, сторінки
@import "_form.scss";


/* body {} */



.wrapper {
	overflow: clip;
	min-height: 100%;
	

	display: flex;			//прижимаем футер книзу
	flex-direction: column; //прижимаем футер книзу
}
.wrapper main {
	flex-grow: 1;			//прижимаем футер книзу
}


// для усіх "__container" однаково
[class*="__container"] {
	max-width: 1320px;/* 1290 + 15 + 15 */
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}


//SCSS основні стилі 

.hero {
		background: linear-gradient(45deg, rgba(255, 197, 8, 0.5), rgba(251, 255, 24, 0.9)), 
		 url(../img2/лапы.webp) no-repeat, url(../img2/klipartz01.png) center right no-repeat;
		background-size: auto auto, contain;

		height: 100svh;

		padding: toRem(150) toRem(0);

		@media(max-width: toEm(992)) {
			padding: toRem(60) toRem(0);
		}
		@media(max-width: toEm(767)) {
			text-align: center;
			padding: toRem(150) toRem(0);
		}
		@media(max-width: toEm(640)) {
			padding: toRem(150) toRem(0) toRem(55);
		}
		@media(max-width: toEm(605)) {
			padding: toRem(250) toRem(0) toRem(40);
		}
		@media(max-width: toEm(605)) {
			padding: toRem(0) toRem(0) toRem(0);
		}

		
		display: flex;
		justify-content: center;
		align-items: center;

	// .hero__item
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(20);
		align-items: center;
		@media(max-width: toEm(640)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .hero__text
	&__text {
		position: relative;
		z-index: 2;
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		max-width: toRem(630); //590+15+15
		padding: toRem(0) toRem(15);
		@media(max-width: toEm(640)) {
			justify-self: center;
		}
	}
		& h1 {
		font-size: toRem(52);
		text-shadow: toRem(1) toRem(2) toRem(5) #000;
		color: #ffffff;
		margin-bottom: toEm(45, 52);
		font-family: 'CoreSansC-75ExtraBold';
		font-weight: 700;
		line-height: 130%;
		max-width: toRem(362);
		@media(max-width: toEm(820)) {
			font-size: toRem(35);
			margin-bottom: toEm(10, 35);
			max-width: toRem(350);
		}
		@media(max-width: toEm(640)) {
			text-align: center;
			max-width: toRem(850);
		}
		@media(max-width: toEm(415)) {
			font-size: toRem(40);
			margin-bottom: toEm(25, 40);
			max-width: toRem(350);
			background-color: #faf0f048;
			padding: toRem(10);
			border-radius: toRem(20);
		}
		@media(max-width: toEm(365)) {
			font-size: toRem(30);
			max-width: toRem(350);
			margin-bottom: toEm(15);
			text-shadow: toRem(1) toRem(2) toRem(5) #000;
		}
//---------анімація--------
		animation: tracking-in-expand-fwd-bottom 0.8s 0.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
//---------анімація--------
		}
		& span {
			color: #fd6c11;
		}

	// .hero__title
		&__title {
			font-size: toRem(18);
			margin-bottom: toEm(40, 18);
			color: #ffffff;
			font-family: 'CoreSansC-55Medium';
			font-weight: 500;
			text-shadow: toRem(1) toRem(2) toRem(5) #000;
			line-height: 130%;
			@media(max-width: toEm(415)) {
				font-size: toRem(16);
				margin-bottom: toEm(25);
			}
			@media(max-width: toEm(320)) {
				text-align: left;
				margin-bottom: toEm(35);
				line-height: 155%;
			}

		//---------анімація--------
		animation: tracking-in-expand-fwd-bottom 0.8s 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
		//---------анімація--------
		}
	// .hero__buttons
	&__buttons {
		display: flex;
		gap: toRem(20);
		font-family: 'CoreSansC-55Medium';
		@media(max-width: toEm(820)) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

	// .hero__button
	&__button {
		background-color: #fd6c11;
		padding: toRem(10) toRem(45);
		font-size: toRem(18);
		text-align: center;
		color: #fff;
		line-height: 130%;
		display: inline-block;
		box-shadow: toRem(1) toRem(2) toRem(5) #000;
		border: toRem(1) solid transparent;
		transition: 0.5s;
		&:hover {
			border: toRem(1) solid #023b48;
			background-color: transparent;
			cursor: pointer;
			color: #023b48;
		}
		@media(max-width: toEm(415)) {
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
			font-size: toRem(16);
		}
//---------анімація--------
		animation: tracking-in-expand-fwd-bottom 0.8s 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
//---------анімація--------
	// .sliderbig__button--2
	&--2 {
		background-color: #fff;
		color: #023b48;
		&:hover {
			border: toRem(1) solid #fff;
			background-color: transparent;
			cursor: pointer;
			color: #fff;
		}
//---------анімація--------
		animation: tracking-in-expand-fwd-bottom 0.8s 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
//---------анімація--------
		}
	}


// .hero__img
&__img {
//---------анімація--------
	  animation: text-focus-in 1s 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
//---------анімація--------
}
	& img{	
		width: 100%;
		height: 100%;
		aspect-ratio: 100 / 80;
		object-fit: contain;
		@media(max-width: toEm(767)) {
			aspect-ratio: 40 / 20;
		}
	}
}



//--------------------about-------------------------

//-------menu----------------
.about {
	& > *:last-child {
		margin-bottom: toEm(0);
	}

//---ставим по центру блок---
ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: toRem(5);
	max-width: 950;
	padding: toRem(20);
	display: flex;
	justify-content: center;
	margin-bottom: toEm(20);
	@media(max-width: toEm(640)) {
	  display: none;
	}

    li {
        a {
            position: relative;
            width: 80px;
            height: 80px;
            display: block;
            text-align: center;
            margin: 0 10px;
            border-radius: 50%;
            box-sizing: border-box;
            text-decoration: none;
            box-shadow: 0 10px 15px rgba(0,0,0,0.3);
            transition: 0.5s;
            padding: 8px;
            background: linear-gradient(0deg, #ddd, #fff);

            &:hover {
                box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            }

            .fa {
                width: 100%;
                height: 100%;
                display: block;
                background: linear-gradient(0deg, #fff, #ddd);

                border-radius: 50%;
                line-height: calc(80px - 16px);
                font-size: 24px;
                color: #262626;
                transition: 0.5s;
            }
        }

        &:nth-child(1) .fa:hover {
            color: #1877f2;
        }
        &:nth-child(2) .fa:hover {
            color: #1da1f2;
        }
        &:nth-child(3) .fa:hover {
            color: #007bb5;
        }
        &:nth-child(4) .fa:hover {
            color: #f46f30;
        }
        &:nth-child(5) .fa:hover {
            color:  #db4437;
        }
        &:nth-child(6) .fa:hover {
            color: #25d366;
        }
    }
}
}
//-------menu----------------

.about {
	padding: toRem(10) toRem(0);
	@media(max-width: toEm(992)) {
		padding: toRem(30) toRem(0);
	}
	background-image: url(../img2/about-bg.webp);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	@media(max-width: toEm(605)) {
		padding: toRem(20) toRem(0) toRem(20);
	}

	//__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: toRem(15);
		@media(max-width: toEm(700)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	// .about__img
	&__img img{ 
		width: 100%;
		height: 100%;
		aspect-ratio: 400 / 280;
		object-fit: contain;
		transition: 0.4s;
		&:hover {
			animation: text-focus-in 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		}
	}

	// .about__text
	&__text {
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		& h2 {
		font-family: 'CoreSansC-55Medium';
		font-weight: 500;
		font-size: toRem(30);
		margin-bottom: toEm(20, 30);
			@media(max-width: toEm(400)) {
				font-size: toRem(25);
				}
		}
		& span {
			color: #06cdfa;
		}
	}

	// .about__title
	&__title {
		font-family: 'Inter';
		font-weight: 500;
		font-size: toRem(18);
		margin-bottom: toEm(35, 18);
		line-height: 135%;
		@media(max-width: toEm(400)) {
			font-size: toRem(16);
			margin-bottom: toEm(15, 16);
			}
	}

	// a .about__button
	&__button {
		text-align: left;
		display: flex;
		justify-content: flex-start;
		font-family: 'CoreSansC-55Medium';
		font-weight: 500;
		background-color: #fd6c11;
		padding: toRem(10) toRem(20);
		font-size: toRem(18);
		text-align: center;
		color: #fff;
		line-height: 130%;
		display: block;
		border: toRem(1) solid transparent;
		transition: 0.5s;
		&:hover {
			border: toRem(1) solid #023b48;
			background-color: transparent;
			color: #023b48;
		}
		@media(max-width: toEm(390)) {
		  width: 100%;
		  font-size: toRem(16);
		}
	}

	& li a i img{
		width: 100%;
		height: 100%;
		aspect-ratio: 50 / 50;
		object-fit: contain;
		border-radius: 50%;
	}
}


//------------------------servises---------------------------
.services {
	padding: toRem(50) toRem(0);
	@media(max-width: toEm(767)) {
		padding: toRem(30) toRem(0);
	}
	background-image: url(../img2/bck.webp);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	width: 100%;
	height: 100%;

	// .services__container
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		& h2 {
			font-size: toRem(30);
			margin-bottom: toEm(45, 30);
		}
	}

	// .services__card
	&__card {				
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: toRem(25);
		row-gap: toRem(45);
		text-align: center;
		margin-bottom: toEm(45);
		@media(max-width: toEm(1150)) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: toRem(25);
			row-gap: toRem(35);
		}
		@media(max-width: toEm(767)) {
			grid-template-columns: repeat(1, 1fr);
			column-gap: toRem(25);
			row-gap: toRem(25);
		}
	}

	// .services__item
	&__item {
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);

		min-height: 100%;
		padding: toRem(20);
		background-color: #f1f1f1b3;
		border-radius: 5%;
		transition: 0.9s;
		&:hover {
			transform: translateY(toRem(5));
			transform: rotate(20deg);
		}

		
	}

	// .services__img
	&__img {
		max-width: toRem(110);
		background-color: #fd6c11;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: toEm(20);
		padding: toRem(30);		
		display: inline-block;		
		border-radius: 50%;
	}
	&__img img{
		width: 100%;
		height: 100%;
		aspect-ratio: 45 / 45;
		object-fit: contain;
	}

	// .services__text
	&__text {
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	}

	// .services__title
	&__title {
		font-family: 'CoreSansC-75ExtraBold';
		font-weight: 700;
		font-size: toRem(25);
		margin-bottom: toEm(20, 25);
		line-height: 130%;
	}

	// .services__sub-title
	&__sub-title {
		font-family: 'CoreSansC-55Medium';
		font-weight: 500;
		font-size: toRem(20);
		margin-bottom: toEm(15, 20);
		line-height: 135%;
	}
}


//-----------------gallery---------------------------------
.gallery {
	background: linear-gradient(45deg, rgba(255, 197, 8, 0.5), rgba(251, 255, 24, 0.9)), 
	url(../img2/лапы.webp) no-repeat, url(../img2/klipartz01.png) center right repeat;
   background-size: auto auto, contain;
	padding: toRem(50) toRem(0);
	@media(max-width: toEm(767)) {
		padding: toRem(30) toRem(0);
	}

	// .gallery__container
	&__container {
		display: flex;		//для h2 фон будет слева
		flex-direction: column;
		align-items: start;
		& h2 {
			color: #fff;
			font-size: toRem(35);
			margin-bottom: toEm(45, 30);
 			text-shadow: toRem(2) toRem(2) toRem(2) #212020;
			/*background-color: #e8f1f3c7; */
			padding: toRem(5);
			border-radius: toRem(15);
			& span {
				color: #25d0ff;
			}
		}
	}

	// .gallery__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(15);
		@media(max-width: toEm(992)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media(max-width: toEm(650)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__item {
		overflow: hidden;
		opacity: 1;
		box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
		border-radius: toRem(15);
		min-height: 100%;
	}
	&__item img {
		width: 100%;
		height: 100%;
		aspect-ratio: 350 / 200;
		object-fit: cover;
		transition: 0.9s;
		border-radius: toRem(15);
		&:hover {
			transform: scale(1.1);
			border-radius: toRem(15);
		}
	}
}


//-----------------reviews---------------------------------
.revies {
	background-image: url(../img2/06.webp);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding: toRem(100) toRem(0);
	@media(max-width: toEm(992)) {
		padding: toRem(80) toRem(0);
	}
	@media(max-width: toEm(767)) {
		padding: toRem(50) toRem(0);
	}
	@media(max-width: toEm(420)) {
		padding: toRem(20) toRem(0);
	}
	text-align: center;
	& > *:last-child {
		margin-bottom: toEm(0);
	}

	// .revies__container
	&__container {
		& h2 {
			line-height: 130%;
		}
		& > *:last-child {
			margin-bottom: toEm(0);
		}
	}

	// .revies__text
	&__text {
		//для обвертки блока в котором кнопка
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		//для обвертки блока в котором кнопка

		margin-bottom: toEm(120);
		@media(max-width: toEm(992)) {
			margin-bottom: toEm(80);
		}
		@media(max-width: toEm(767)) {
			margin-bottom: toEm(50);
		}
		@media(max-width: toEm(420)) {
			margin-bottom: toEm(35);
		}
		& h2 {
			font-size: toRem(30);
			margin-bottom: toEm(45, 30);
			text-shadow: toRem(2) toRem(2) toRem(2) #7e7a7a;
			@media(max-width: toEm(992)) {
				font-size: toRem(25);
			}
		}
		& p {
		font-size: toRem(20);
		margin-bottom: toEm(50, 20);
		font-family: 'Inter';
		line-height: 135%;
		@media(max-width: toEm(992)) {
			margin-bottom: toEm(20);
		}
		}
	}

	// .revies__slider
	&__slider {
		& h2 {
			text-shadow: toRem(2) toRem(2) toRem(2) #464545;
		}
		& p {
			font-size: toRem(20);
			margin-bottom: toEm(50, 20);
			text-shadow: toRem(2) toRem(2) toRem(2) #5e5d5d;
			font-family: 'Inter';
			line-height: 135%;
			}
		}
	}
	.about {
			& > *:last-child {
		margin-bottom: toEm(0);
	}
		// .about__button
		&__button {
			padding: toRem(10) toRem(35);
		}
	}

// --------------начинка слайдера---------------------------------
.slider {
	position: relative;
	z-index: 1;
	// .slider__item
	&__item { // slider 1, 2 ,3...
		padding: toRem(20);
		border: toRem(1) double #fd6c11;
		background-color: #6ee4f418;
		& > *:last-child {
			margin-bottom: toEm(0);
		}
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	// .slider__name
	&__name {
		font-size: toRem(20);
		margin-bottom: toEm(25, 20);
		font-family: 'CoreSansC-55Medium';
		font-weight: 500;
		line-height: 135%;
		@media(max-width: toEm(320)) {
			font-size: toRem(18);
			margin-bottom: toEm(10, 18);
			text-align: left;
		}
	}

	// .slider__description
	&__description {
		font-size: toRem(20);
		margin-bottom: toEm(25, 20);
		font-family: 'Inter';
		line-height: 130%;

		@media(max-width: toEm(320)) {
			font-size: toRem(16);
			margin-bottom: toEm(15, 16);
			text-align: left;
		}
	}

	&__img {
		max-width: toRem(350);
		margin-bottom: toEm(20);
		display: flex;
		justify-content: center;
	}
	&__img img {
		width: 100%;
		height: 100%;
		aspect-ratio: 100 / 50;
		object-fit: cover;
	}
}


//---------------------------slider------------------------------------
/* The wrapper */
.slick-list { 
    overflow: hidden;
}

/* The strip of slides */ 
.slick-track{
    display: flex;
}

.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li{ 
    list-style: none;
    margin: toRem(5) toRem(10);
}
.slider .slick-dots button{
    font-size: toRem(0);
    width: toRem(5); 		//размеры slick-dots button
    height: toRem(5);		//размеры slick-dots button
	padding: toRem(10);		//размеры slick-dots button
    background-color: #fd6c11;
    border-radius: 50%; 
    cursor: pointer;
	border: toRem(3)solid transparent;
}
.slider .slick-dots li.slick-active button { 
    background-color: transparent;
    border: toRem(3)solid #fd6c11;
}

.slider {
    position: relative;
    padding: toRem(0) toRem(60); 

	@media(max-width: toEm(500)) {
		padding: toRem(0) toRem(0); 
	}
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: toRem(-40) toRem(20) toRem(20); 
    z-index: toRem(10);
    font-size: toRem(0); 
    width: toRem(20);		//размеры струлкам по бокам
    height: toRem(35);		//размеры струлкам по бокам
    border: none;
	padding: toRem(10);
	@media(max-width: toEm(500)) {
		margin: toRem(-40) toRem(0) toRem(20); 
	}
		@media(max-width: toEm(420)) {
		margin: toRem(-180) toRem(0) toRem(20); 
	}
}
//---стрелка_влево---
.slider .slick-arrow.slick-prev{
    left: toRem(0);
    background: url(../img2/стрелка_влево.png) 0 0 / 100% no-repeat;
    cursor: pointer;
} 
//---стрелка_вправо---
.slider .slick-arrow.slick-next{ 
    right: toRem(0);
    background: url(../img2/стрелка_вправо.png)   0 0 / 100% no-repeat;
    cursor: pointer;
}

//----------для img слайдера -  border--------------------
.slider__item img{
    border: toRem(1) double #fd6c11;
    max-width: 100%;
    cursor: pointer;
}

.slider__item {
    text-align: center;
    transition: all 0.3s ease 0s;
    opacity: 0.4;

	display: flex; 		//фото по центру
	justify-content: center;
	align-items: center;
}

.slider__item.slick-center {
    opacity: 1;
}
